@model Advertisement;
@* PartialView 的 CSS *@
<style asp-add-nested-styles="true">

    /***** datatables 自訂樣式 *****/

    /* 標題列設定 */
    thead {
        background-color: black;
        color: white;
    }

    .dt-end .dt-search {
        text-align: center !important;
        /* 將搜索框的文字內容設置為居中對齊 */
    }

    .dt-middle {
        text-align: end !important;
    }

    body {
        table-layout: fixed;
        /* 將表格的列寬設置為固定值，以確保列寬不會根據內容而自動調整 */
    }
</style>
@* PartialView 的 HTML *@
<div class="page-title position-relative">
    <div class="row">
        @* 系統名稱 *@
        <div class="col-12 col-md-6 order-md-1 d-flex justify-content-center justify-content-md-start">
            <h2 id="SystemName" style="margin-top: 8px;">廣告管理系統</h2>
        </div>
        @* 系統選單 *@
        <div class="col-12 col-md-6 order-md-2 d-flex justify-content-center justify-content-md-end" id="SystemMenu">
            @* <select asp-items="@ViewBag.ComputerParts" class="form-select " style="width:250px;height:40px;margin-bottom:8px" id="HardSelect">
            <option value="" disabled selected hidden>---- 請選擇硬體 ----</option>
            </select> *@
        </div>
    </div>
</div>
<section class="section">
    <table id="AdvertiseManageTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>標題</th>
                <th>Url</th>
                <th>圖片</th>
                <th>說明</th>
                <th>狀態</th>
            </tr>
        </thead>
    </table>
</section>
<!-- Create Bootstrap Modal -->
<div class="modal fade" id="addAdvertisementModal" tabindex="-1" role="dialog" aria-labelledby="addAdvertisementModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addAdvertisementModalLabel">新增廣告</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 在這裡放置新增廣告的表單元素 -->
                <form id="addAdvertisementForm">
                    <div class="form-group">
                        <label asp-for="Title">標題</label>
                        <input asp-for="Title" class="form-control">
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Url">Url</label>
                        <input asp-for="Url" class="form-control">
                        <span asp-validation-for="Url" class="text-danger"></span>
                    </div>
                    @* <div class="form-group">
                    <label asp-for="ImagePath">圖片</label>
                    <input asp-for="ImagePath" class="form-control">
                    <span asp-validation-for="ImagePath" class="text-danger"></span>
                    </div> *@
                    <div class="form-group">
                        <label>圖片</label><br />
                        <input type="file" class="form-control-file" id="imageInput" accept="image/*">
                        <img src="#" id="imagePreview" alt="圖片預覽" style="display: none; max-width: 100%;">
                    </div>
                    <div class="form-group">
                        <label asp-for="Discription">說明</label>
                        <textarea asp-for="Discription" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="Discription" class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-primary" id="CreateSaveBtn">新增</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete Bootstrap Modal -->
<div class="modal fade" id="deleteAdvertisementModal" tabindex="-1" role="dialog" aria-labelledby="deleteAdvertisementModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteAdvertisementModalLabel">刪除廣告</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span>ID:</span><p id="deleteId"></p>
                <span>標題:</span><p id="deleteTitle"></p>
                <span>Url:</span><p id="deleteUrl"></p>
                <span>圖片:</span><img id="deleteImage" src="" style="width:80%"></img><br />
                <span>說明:</span><p id="deleteDiscription"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-danger" id="deleteBtn">確認刪除</button>
            </div>
        </div>
    </div>
</div>
<!-- Edit Bootstrap Modal -->
<div class="modal fade" id="editAdvertisementModal" tabindex="-1" role="dialog" aria-labelledby="editAdvertisementModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editAdvertisementModalLabel">編輯廣告</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editAdvertisementForm">
                    <input id="editId" name="editId" hidden>
                    <div class="form-group">
                        <label for="editTitle">標題</label>
                        <input id="editTitle" name="editTitle" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="editUrl">Url</label>
                        <input id="editUrl" name="editUrl" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>圖片</label><br />
                        <input type="file" class="form-control-file" id="editImageInput" accept="image/*">
                        <img src="" id="editImagePreview" alt="圖片預覽" style="max-width: 100%;">
                    </div>
                    <div class="form-group">
                        <label for="editDiscription">說明</label>
                        <textarea id="editDiscription" name="editDiscription" class="form-control" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-primary" id="editSaveBtn">儲存修改</button>
            </div>
        </div>
    </div>
</div>
@Html.AntiForgeryToken();
@* PartialView 的 JavaScript *@
<script>
    $(document).ready(function () {
        let baseAddress = "https://localhost:7097";
        var datatable = new DataTable('#AdvertiseManageTable', {
            columns: [
                { "data": "advertisementId", "width": "5%" },
                { "data": "title", "width": "10%" },
                { "data": "url", "width": "15%" },
                {
                    "data": "imagePath", "width": "15%",
                    "className": "text-center",
                    "render": function (data, type, row) {
                        return `<img src="/AdImages/${data}" alt="Image" style="width:80%" />`;
                    }, responsivePriority: 1
                },
                { "data": "discription", "width": "10%" },
                {
                    "data": "isShow",
                    "width": "15%",
                    "className": "text-center",
                    "render": function (data, type, row) {
                        // data: 欄位的資料值
                        // type: render 的呼叫類型，例如 'display', 'filter', 'sort', 'type'
                        // row: 包含整列資料的物件
                        let AdId = row.advertisementId;
                        const Show = data ? 'checked' : '';
                        const UnShow = data ? '' : 'checked';
                        let showEle = `<input type="radio" class="radio-isShow" name = "${AdId}" value = "true" data-AdId="${AdId}" id = "${AdId}Show" ${Show}><label for= "${AdId}Show" style="margin-right: 10px">上架</label>`;
                        let unShowEle = `<input type="radio" class="radio-isShow" name="${AdId}" value="false" data-AdId="${AdId}" id="${AdId}UnShow" ${UnShow}><label for="${AdId}UnShow">下架</label>`;
                        return `${showEle}${unShowEle}`;
                    }
                },
                {
                    "data": null,
                    "orderable": false,
                    "width": "5%",
                    "className": "text-center",
                    // 按鈕 自定義
                    "render": function (data, type, row) {
                        // 取得 productId
                        let title = row.title;
                        let AdId = row.advertisementId;
                        let url = row.url;
                        let disc = row.discription;
                        let image = row.imagePath;
                        // 編輯按鈕
                        let editEle = '<button data-AdId="' + AdId + '"  data-title="' + title + '"  data-url="' + url + '"  data-disc="' + disc + '"  data-image="' + image + '" id="edit_button"><i class="bi bi-pencil-square"></i></button>';
                        // 刪除按鈕
                        let deletEle = '<button data-AdId="' + AdId + '"  data-title="' + title + '"  data-url="' + url + '"  data-disc="' + disc + '"  data-image="' + image + '" id="delete_button"><i class="bi bi-trash3"></i></button>';
                        if (type === 'display') {
                            return `${editEle}${deletEle}`;
                        }
                        return data;
                    }, responsivePriority: 1
                }
            ],
            fixedHeader: {
                // 固定 header
                header: true
            },
            // 響應式設計
            responsive: true,
            // 語言設定
            language: {
                url: '//cdn.datatables.net/plug-ins/2.0.3/i18n/zh-HANT.json',
            },
            // 預設排序 ~ 根據第一個欄位 升冪排序
            order: [[0, 'asc']],
            // 自動寬度 開啟
            autoWidth: true,
            layout: {
                topMiddile: {
                    //Create按鈕建立
                    buttons: [
                        {
                            text: '新增廣告',
                            action: function () {
                                // 彈出 Bootstrap modal 表單
                                $('#addAdvertisementModal').modal('show');
                            }
                        }
                    ]
                },
            },
        });

        // 使用 Fetch API 取得資料並設定至 DataTable
        function fetchDatatable() {
            fetch('@Url.Action("AdvertiseManagementJson", "AdvertiseManagement", new { area = "Administrator" })')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(jsonData => {
                    // 清空表格
                    datatable.clear().draw();
                    // 添加新的資料
                    datatable.rows.add(jsonData).draw();
                })
                .catch(error => {
                    console.error('Fetch error:', error);
                });
        };

        fetchDatatable();

        // 監聽上下架按鈕的 change 事件
        $(document).on('change', '.radio-isShow', function () {
            // alert("change");
            const adId = $(this).data('adid');
            const isShow = $(this).val() === 'true';
            // // alert(`change ${adId} ${isShow}`);
            fetch(`@Url.Action("UpdateIsShow", "AdvertiseManagement", new { area = "Administrator" })?adId=${adId}&isShow=${isShow}`, {
                method: 'PUT',
            }).then(response => {
                if (response.ok) {
                    return response.text();
                }
                else {
                    return response.text();
                }
            }).then(result => {
                alert(result); // 處理成功回應的操作
            }).catch(error => {
                alert(error); // 處理錯誤
            });
        });

        // 新增廣告圖片預覽
        $(document).on('change', '#imageInput', function () {
            const file = event.target.files[0];
            // 檢查是否選擇了圖片
            if (file) {
                // 顯示圖片預覽
                $("#imagePreview").css('display', 'block');
                $("#imagePreview").attr('src', URL.createObjectURL(file));
            }
        })

        // 新增廣告上傳
        $(document).on('click', '#CreateSaveBtn', function (event) {
            event.preventDefault();
            // alert("CreateSaveBtn");
            // 建立 FormData 物件，用於上傳檔案
            const formData = new FormData();
            formData.append('Title', $("#Title").val());
            formData.append('Url', $("#Url").val());
            formData.append('Discription', $("#Discription").val());
            formData.append('ImageFile', $("#imageInput")[0].files[0]);

            fetch('@Url.Action("CreateAd", "AdvertiseManagement", new { area = "Administrator" })', {
                method: 'POST',
                body: formData,
                // headers: {'Content-Type': 'multipart/form-data'}
            }).then(response => {
                if (!response.ok) {
                    console.log("error")
                    return response.text();
                }
                console.log("成功")
                return response.text();
            }).then(data => {
                // 成功處理回應後的操作
                console.log(data);
                alert(data);
                // 關閉 modal
                $('#addAdvertisementModal').modal('hide');
                // 重新載入資料
                fetchDatatable();
            }).catch(error => {
                console.log(error);
                // 處理錯誤情況
            });
        });

        // 刪除按鈕
        $(document).on('click', '#delete_button', function () {
            const AdId = $(this).data('adid');
            const title = $(this).data('title');
            const url = $(this).data('url');
            const disc = $(this).data('disc');
            const image = $(this).data('image');
            $('#deleteId').text(AdId);
            $('#deleteTitle').text(title);
            $('#deleteUrl').text(url);
            $('#deleteDiscription').text(disc);
            $('#deleteImage').attr('src', `/AdImages/${image}`);
            $('#deleteAdvertisementModal').modal('show');
        });

        // 刪除確認按鈕
        $(document).on('click', '#deleteBtn', function (event) {
            event.preventDefault();
            // alert("deleteBtn");
            const data = $('#deleteId').text();
            console.log(data);
            fetch('@Url.Action("DeleteAd", "AdvertiseManagement", new { area = "Administrator" })', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id: data })
            }).then(response => {
                if (response.ok) {
                    return response.text();
                }
                else {
                    return respone.text();
                }
            }).then(result => {
                alert(result); // 處理成功回應的操作
                $('#deleteAdvertisementModal').modal('hide');
                // 重新載入資料
                fetchDatatable();
            }).catch(error => {
                alert(error); // 處理錯誤
            });
        });

        //編輯按鈕
        $(document).on('click', '#edit_button', function () {
            //alert("edit_button");
            const AdId = $(this).data('adid');
            const title = $(this).data('title');
            const url = $(this).data('url');
            const disc = $(this).data('disc');
            const image = $(this).data('image');
            $('#editId').val(AdId);
            $('#editTitle').val(title);
            $('#editUrl').val(url);
            $('#editDiscription').val(disc);
            $('#editImagePreview').attr('src', `/AdImages/${image}`);
            $('#editAdvertisementModal').modal('show');
        });

        // 修改廣告圖片預覽
        $(document).on('change', '#editImageInput', function () {
            const file = event.target.files[0];
            // 檢查是否選擇了圖片
            if (file) {
                // 顯示圖片預覽
                $("#editImagePreview").css('display', 'block');
                $("#editImagePreview").attr('src', URL.createObjectURL(file));
            }
        })

        // 儲存修改按鈕
        $(document).on('click', '#editSaveBtn', function (event) {
            event.preventDefault();
            // alert("editSaveBtn");
            // 建立 FormData 物件，用於上傳檔案
            const formData = new FormData();
            formData.append('Id', $("#editId").val());
            formData.append('Title', $("#editTitle").val());
            formData.append('Url', $("#editUrl").val());
            formData.append('Discription', $("#editDiscription").val());

            // 將圖片檔案添加到 FormData 物件中
            if ($("#editImageInput")[0].files.length > 0 && $("#editImageInput")[0].files[0] != null) {
                formData.append('ImageFile', $("#editImageInput")[0].files[0]);
            }

            fetch('@Url.Action("EditAd", "AdvertiseManagement", new { area = "Administrator" })', {
                method: 'POST',
                body: formData,
                // headers: {'Content-Type': 'multipart/form-data'}
            }).then(response => {
                if (!response.ok) {
                    console.log("error")
                    return response.text();
                }
                console.log("成功")
                return response.text();
            }).then(data => {
                // 成功處理回應後的操作
                console.log(data);
                alert(data);
                // 關閉 modal
                $('#editAdvertisementModal').modal('hide');
                // 重新載入資料
                fetchDatatable();
            }).catch(error => {
                console.log(error);
                // 處理錯誤情況
            });
        });
    });
</script>

@* @model IEnumerable<SteamNexus.Models.Advertisement>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AdvertisementId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AdvertisementId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AdvertisementId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
