@model SteamNexus.Data.ApplicationUser

@{
    ViewData["Title"] = "Delete";
}


<h3>刪除 @Html.DisplayFor(model => model.Name) 的會員資料</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Gender)
            {
                <text>男</text>
            }
            else
            {
                <text>女</text>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Birthday != null)
            {
                <text>@Model.Birthday.ToString("yyyy/MM/dd")</text>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CPUId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CPUId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GPUId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GPUId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RAM)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RAM)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Power)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Power)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input id="submit" type="submit" value="Delete" class="btn btn-danger" />
        <button class="btn btn-danger">
            <a asp-area="" asp-controller="Home" asp-action="Identity" style="text-decoration: none; color:white">返回會員列表</a>
        </button>
    </form>
</div>

@section Scripts {
    <script>
        $("#submit").click(function () {
            var result = confirm("您確定要刪除此會員嗎?");
            if (result == true) {
                return true;
            } else {
                return false;
            }
        })
    </script>
}